:root {
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --sab-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  color: var(--text);
  background-color: var(--light);
  font-family: var(--primary-font);
  font-size: 16px;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
}
button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

/* Header */

.logo-link {
}
.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-web {
  color: var(--primary-brand);
}
.logo-studio-light {
  color: var(--dark);
}
.logo-studio-dark {
  color: var(--light);
}

/* Site nav */
.site-nav a {
  text-decoration: none;
  color: var(--dark);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state);
}

.site-nav .link.current {
  color: var(--pressed-state);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress a {
  text-decoration: none;
  color: var(--text);
}

.header-adress a:hover,
.header-adress a:focus {
  color: var(--pressed-state);
}

.address {
  font-style: normal;
}

/* Main */
.hero {
  background-color: var(--dark);
}
.hero-title {
  color: var(--white-background);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.hero-btn {
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

/* Section 2 */
.properties-text {
  color: var(--text);
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Portfolio navigation */
.nav-btn {
  color: var(--primary-brand);
  background: var(--light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.active-btn {
  color: var(--light);
  background: var(--pressed-state);
}

/* Footer */
.footer {
  background-color: var(--dark);

  .text {
    color: var(--light);
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}
